/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: white;
}

h1 {
  margin-bottom: 20px;
  position: relative;
  right: 28px;
}

/* Visor da calculadora */
#tela {
  width: 250px;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  border-radius: 12px;
  box-shadow: 0px 0px 5px 2px #2f4f4f inset;
  background-color: #778899;
  padding-right: 10px;
  border: none;
  color: white;
  position: relative;
  right: 38px;
  top: 32px;
}

/* Container dos botões */
#botoes {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Botões comuns */
.botao {
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(146, 188, 174);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.botao:hover {
  background-color: rgb(126, 168, 154);
}

/* Botões de operação */
.botao_operacao {
  height: 60px;
  font-size: 1.5rem;
  background-color: rgb(118, 197, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.botao_operacao:hover {
  background-color: rgb(98, 167, 0);
}

/* Botões de deletar ou limpar */
.botao_deletar {
  height: 60px;
  font-size: 1.2rem;
  background-color: rgb(150, 11, 8);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.botao_deletar:hover {
  background-color: rgb(120, 0, 0);
}
